.nav {
  width: 100vw;
  padding: 2rem;
  background-color: #fcbf49;
  display: flex;
  justify-content: center;
}

.listContainer {
  display: flex;
  list-style: none;
}

.listItem {
  text-decoration: none;
  margin: 0 4rem 0 0;
  font-size: 20px;
  color: #023047
}

.listItem:hover {
  color: #219ebc;
}

